@import '../../../assets/styles/vars.scss';
.results {
  height: 100%;
  // margin-top: 20px !important; // TODO elegantly
  display: flex;
  flex-flow: column;

  .sortByRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    .resultsText {
      color: $light-blue;
    }
    .sortBy {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include spaceItemsHoriz(10px);
      > div {
        @include center();
      }
    }
  }
}
@media screen and (min-width: 813px) {
  .toggleOptions {
    display: none;
  }
}
@media #{$phone} {
  .results {
    .sortByRow {
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-bottom: 0px;
      .toggleOptions {
        display: block;
        cursor: pointer;
        padding: 10px;
        background-color: $very-light-gray;
        @include boxShadow();
      }
      .optionsRow {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
      }
    }
    .content {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

@media #{$phone-narrow} {
  .results {
    .sortByRow {
      .optionsRow {
        flex-direction: column;
        align-items: flex-start;
      }
      .sortBy {
        margin-top: 20px;
      }
      .toggleOptions {
        // width: 100%;
      }
    }
  }
}
