@import '../../../../../assets/styles/vars.scss';
.filterSection {
  .bar {
    display: flex;
    flex-flow: row;
    align-items: center;
    // border: 1px solid $gray;
    // border-right: none;
    padding: 10px;
    font-size: 1.25rem;
    background-color: $light-gray;
    cursor: pointer;

    @include spaceItemsHoriz(10px);

    &:hover {
      background-color: darken($light-gray, 5%);
    }

    .label {
      .numSelected {
        align-items: flex-end;
        color: $selected-blue;
        font-style: italic;
      }
    }
    .clearButton {
      margin-left: auto;
      & + i:last-of-type {
        margin-left: 0;
      }
    }

    // make icons navy and larger
    img {
      $size: 32px;
      height: $size;
      width: $size;
    }
    i {
      color: $navy-blue;
      font-size: 2rem;

      // style caret
      &:last-of-type {
        margin-left: auto;
        transform: rotate(180deg);
        cursor: pointer;
      }
    }
  }

  // // ensure borders between sections do not double up
  // &:not(:first-of-type) .bar {
  //   border-top: none;
  // }

  .content {
    padding-right: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    display: none;
  }
  &.open {
    // + div .bar {
    //   border-top: 1px solid $gray;
    // }
    .bar i:last-of-type {
      transform: unset;
    }
    .content {
      display: flex;
    }
  }
}
