@import '../../../../../assets/styles/vars.scss';
.filterSection {
  margin-right: 20px;
  margin-bottom: 10px;
  .bar {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px;
    font-size: 1.25rem;
    background-color: $light-gray;
    cursor: pointer;
    text-transform: uppercase;
    @include spaceItemsHoriz(10px);

    &:hover {
      background-color: darken($light-gray, 10%);
      transition: 0.2s;
    }

    .label {
      .numSelected {
        align-items: flex-end;
        color: $light-blue;
        font-style: italic;
      }
    }
    .clearButton {
      margin-left: auto;
      & + i:last-of-type {
        margin-left: 0;
      }
    }

    // make icons navy and larger
    img {
      $size: 32px;
      height: $size;
      width: $size;
    }
    i {
      color: $blue;
      font-size: 2rem;

      // style caret
      &:last-of-type {
        margin-left: auto;
        transform: rotate(180deg);
        cursor: pointer;
      }
    }
  }

  // // ensure borders between sections do not double up
  // &:not(:first-of-type) .bar {
  //   border-top: none;
  // }

  .content {
    margin-bottom: 20px;
    background-color: $very-light-gray;
    display: none;
  }
  &.open {
    // + div .bar {
    //   border-top: 1px solid $gray;
    // }
    .bar i:last-of-type {
      transform: unset;
    }
    .content {
      display: flex;
    }
  }
}

@media #{$breakpoint-two} {
  .filterSection {
    .content {
      margin-left: 5px;
    }
    .bar {
    }
  }
}
