@import '../../../../../assets/styles/vars.scss';

@mixin right() {
  right: 1px;
  left: unset;
}
.filterSection {
  margin-bottom: 10px;
  .bar {
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    padding: 15px 15px 15px 17px;
    background-color: $light-gray;
    cursor: pointer;
    @include spaceItemsHoriz(10px);
    @include noSelect();

    &:hover,
    &.open {
      background-color: darken($light-gray, 5%);
      transition: 0.2s;
    }

    .label {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;

      .numSelected {
        align-items: flex-end;
        color: $light-blue;
        font-style: italic;
      }
      // style caret
      i {
        margin-left: auto;
        transform: rotate(180deg);
        cursor: pointer;
        margin: -12px -8px -6px -6px;
        font-size: 2.5rem;
        color: $orange;
      }
    }
    .clearButton {
      margin-left: auto;
      & + i:last-of-type {
        margin-left: 0;
      }
    }
    .icon {
      // make icons navy and larger
      img {
        $size: 40px;
        height: $size;
        width: $size;
        margin-bottom: 8px;
      }
      i {
        color: $orange;
        font-size: 3rem;
      }
    }
  }

  // // ensure borders between sections do not double up
  // &:not(:first-of-type) .bar {
  //   border-top: none;
  // }

  .content {
    margin-bottom: 20px;
    background-color: lighten($light-gray, 4%);
    display: none;
    border: 2px solid $light-gray;
    position: absolute;
    z-index: 5;
    @include boxShadow();
    max-height: 315px;
    width: max-content;
    max-width: 400px;
    overflow: auto;
    left: 1px;
    top: 105px;
    //these next rules are to prevent the filter choices from flowing off the screen
    &.last {
      @media screen and (min-width: 1153px) {
        @include right();
      }
    }
    &.secondLast {
      @media screen and (min-width: 952px) {
        @include right();
      }
    }
    &.thirdLast {
      @media screen and (min-width: 822px) and (max-width: 1050px) {
        @include right();
      }
    }
    &.fourthLast {
      @media screen and (max-width: 900px) {
        @include right();
      }
    }
    &.lower {
      top: 120px;
    }
    .searchContainer {
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      background-color: $light-gray;
    }
    .searchBar {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 5px 5px 7px 5px;
      border: 2px $light-blue solid;
      background-color: white;
      .inner {
        @include center();
      }
      .bumper {
        // magnifying glass icon
        cursor: default;
        @include center();
      }
      input {
        font-weight: 600;
        height: 100%;
        width: 100%;
        border: none;
        &:active,
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-style: italic;
          color: $light-blue;
          font-weight: normal;
        }
      }
    }
  }
  &.open {
    // + div .bar {
    //   border-top: 1px solid $light-blue;
    // }
    .bar i:last-of-type {
      transform: unset;
    }
    .content {
      display: flex;
      flex-direction: column;
    }
  }
}
