@import '../../../assets/styles/vars.scss';
.panel {
  &.secondary {
    background-color: white;
    padding: 20px;
  }
  &.color {
    background-color: $light-gray;
  }
  .title,
  .titleContent {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .title {
    width: 100%;
  }
  .text {
    width: 100%;
  }
  &.heading {
    .title {
      margin: 20px 0;
      display: flex;

      &,
      .titleContent {
        display: flex;
        align-items: center;
      }

      .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .title {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    .text {
      text-transform: uppercase;
      font-size: 1.3rem;
      h2 {
        text-transform: none;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    i {
      font-size: 2rem;
      color: $blue;
    }
    i,
    img {
      margin-right: 3px;
    }

    // special icons that are not material, but svg imports
    .specialIcon {
      $size: 32px;
      height: $size;
      width: $size;
      margin-right: 5px;
    }
  }
  .content {
    @include spaceItemsVert(20px);
  }
  &.expandable {
    padding: 15px;
    height: min-content;
    .title {
      cursor: pointer;
      @include noSelect();
      &:hover {
        .ddIcon {
          background-color: darken($light-gray, 5%);
          transition: 0.5s;
        }
      }
      margin-bottom: 0px;
      .titleContent {
        position: relative;
      }
      .text {
        margin-left: 5px;
      }
      .ddIcon {
        @include center();
        border-radius: 50%;
        i {
          margin-right: 0px;
        }
      }
    }
    .content {
      margin-top: 10px;
    }
  }
}
