@import '../../../assets/styles/vars.scss';
.panel {
  &.secondary {
    background-color: $very-light-gray;
    padding: 20px;
  }
  .title,
  .titleContent {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .title {
    width: 100%;
  }
  .text {
    width: 100%;
  }
  &.heading {
    .title {
      margin: 20px 0;
      display: flex;

      &,
      .titleContent {
        display: flex;
        align-items: center;
      }

      .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .title {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    .text {
      font-size: 1.5rem;
      font-family: 'rawline', serif;
      text-transform: uppercase;
      font-weight: 600;
      h2 {
        text-transform: none;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    i {
      font-size: 2rem;
      color: $blue;
    }
    i,
    img {
      margin-right: 3px;
    }

    // special icons that are not material, but svg imports
    .specialIcon {
      $size: 32px;
      height: $size;
      width: $size;
      margin-right: 5px;
    }
  }
  .content {
    @include spaceItemsVert(20px);
  }
}
