@import '../../../assets/styles/vars.scss';
.stickyHeaderWrapper {
  // background-color: white;
  z-index: 10;
  width: 100%;
  display: flex;
  position: fixed;
  left: 0;
  top: -100%;
  transition: top 1s;

  .stickyHeader {
    max-width: 1440px !important;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 20px;

    .scrollToTop {
      font-size: 1.1rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      position: fixed;
      right: 20px;
      bottom: -100%;
      background-color: $light-blue;
      color: white;
      @include boxShadow();
      padding: 6px 10px;
      border-radius: 4px;
      img {
        margin-right: 5px;
        $imgSize: 15px;
        width: $imgSize;
        height: 14px;
      }
      span {
        padding-bottom: 3px;
      }
    }
    .stickyFooter {
      width: 100%;
      position: fixed;
      bottom: -100%;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      background-color: white;
      border-top: 2px solid $dark-blue;
      .logo {
        width: 220px;
      }
    }
  }
  &.active {
    transition: top 0.5s;
    top: 0%;
    .stickyFooter {
      bottom: 0px;
      transition: bottom 0.5s;
    }
    .scrollToTop {
      transition: bottom 0.5s;
      bottom: 20px;
    }
  }
}
@import './responsive.module.scss';
