@import '../../../assets/styles/vars.scss';
.searchBar {
  position: relative;
  $border-radius: 10px;
  $bumper-width: 50px;
  border-radius: $border-radius;
  border: 2px solid $soft-blue;
  width: 50%;
  $height: 60px;
  height: $height;
  // display: flex;
  z-index: 2;
  background-color: white;

  &.right {
    margin-left: auto;
  }

  // loading spinner and clear button which reside inside the area not covered
  // by the blue bumper
  .inner {
    position: absolute;
    right: $bumper-width;
    top: 0;
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: auto;
    background-color: transparent;

    // clear button
    .clearButton {
      color: #333;
      cursor: pointer;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
    .loading {
      height: $height;
      opacity: 0;
      transition: all 0.5s;
      &.show {
        opacity: 1;
      }
    }
  }

  // bumper is the blue cap on the right end of the bar
  .bumper {
    border-radius: 0 $border-radius $border-radius 0;
    background-color: $navy-blue;
    width: 50px;
    position: absolute;
    height: calc(100% + 4px);
    top: -2px;
    right: -2px;
    cursor: default;

    // magnifying glass icon
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      color: white;
      font-size: 2.5rem;
    }
  }
  input {
    border-radius: $border-radius;
    font-family: 'rawline', serif;
    font-weight: 600;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 10px;
    border: none;
    &:active,
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-style: italic;
      color: gray;
      font-weight: normal;
    }
  }

  // suggested results, if applicable
  .suggestions {
    position: absolute;
    width: 100%;
    background-color: white;
    top: calc(#{$height} - 4px);
    $border-radius: 10px;
    $bumper-width: 50px;
    border-radius: $border-radius;
    border: 2px solid $soft-blue;
    @include borderItemsVert(20px);
    font-size: 1.25rem;
    font-family: 'rawline', serif;
    padding: 20px 10px;
    .section {
      display: flex;
      flex-flow: column;
      &:first-child {
        > .title:not(.noData) span {
          color: $selected-blue;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .title {
        display: flex;
        align-items: center;
        i {
          color: $navy-blue;
          margin-right: 5px;
        }
      }
      .suggestionList {
        margin-top: 10px;
        margin-left: 10px;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        display: flex;
        flex-flow: column;
        @include spaceItemsVert(20px);
        .suggestion {
          color: $selected-blue;
          margin-left: calc(19px + 20px);
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  // gray if no matches in preview
  .noData,
  .noData i {
    color: gray !important;
  }

  // special svg icon styling
  img.specialIcon {
    $size: 24px;
    height: $size;
    width: $size;
    margin-right: 5px;
  }
}

@media #{$breakpoint-one} {
  .searchBar {
    width: 100%;
    &.right {
      margin-left: 20px;
    }
  }
}
