@import '../../../assets/styles/vars.scss';
.searchBar {
  position: relative;
  margin-left: auto;
  $border-radius: 10px;
  $bumper-width: 50px;
  border-radius: $border-radius;
  border: 2px solid $soft-blue;
  margin-left: auto;
  width: 480px;
  $height: 60px;
  height: $height;
  display: flex;

  // loading spinner and clear button which reside inside the area not covered
  // by the blue bumper
  .inner {
    position: relative;
    right: $bumper-width;
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: auto;
    background-color: transparent;

    // clear button
    .clearButton {
      color: #333;
      cursor: pointer;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
    .loading {
      height: $height;
      opacity: 0;
      transition: all 0.5s;
      &.show {
        opacity: 1;
      }
    }
  }

  // bumper is the blue cap on the right end of the bar
  .bumper {
    border-radius: 0 $border-radius $border-radius 0;
    background-color: $navy-blue;
    width: 50px;
    position: absolute;
    height: calc(100% + 4px);
    top: -2px;
    right: -2px;
    cursor: default;

    // magnifying glass icon
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      color: white;
      font-size: 2.5rem;
    }
  }
  input {
    border-radius: $border-radius;
    font-family: 'rawline', serif;
    font-weight: 600;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 10px;
    border: none;
    &:active,
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-style: italic;
      color: gray;
      font-weight: normal;
    }
  }
}
