@import '../../assets/styles/vars.scss';
.detailOverlay {
  .relatedItems {
    padding-left: 20px;
  }
  // standard: max width of screen is 1300px
  // center content in that view
  // TODO pull up in scope to master SCSS file
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: white;

  .band {
    display: none;
    border-right: 2px solid #5c5c5c;

    padding: 20px;
    background-color: #5c5c5c;
    width: 100%;
    .closeButton {
      margin-left: auto;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      padding: 3px;
      cursor: pointer;
      i {
        color: $navy-blue;
        font-weight: bold;
      }
      &:hover {
        background-color: darken(white, 5%);
      }
      &:active {
        @include boxShadow();
        background-color: darken(white, 10%);
      }
    }
  }
  // animate opacity, controlled in JS
  transition: opacity 0.25s;

  &.floating {
    z-index: 9; // above header
    position: absolute;

    top: 0;
    padding: 0;

    // animate opacity, controlled in JS
    transition: opacity 0.25s;

    background-color: white;
    .band {
      display: flex;
    }
  }

  .content {
    border-left: 2px solid #5c5c5c;
    border-bottom: 2px solid #5c5c5c;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 330px;
    background-color: white;

    .sideBar {
      background-color: $light-gray;
      @include spaceItemsVert(10px);
      margin-left: 10px;
      border-right: 2px solid #5c5c5c;

      .keyTopics {
        @include spaceItemsVert(10px);
        .keyTopic {
          display: grid;
          grid-template-columns: 15px 1fr;
          grid-gap: 0 5px;
          align-items: center;
          color: #898989;
          .colorBlock {
            height: 30px;
            background-color: #e5e5e5;
          }
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
          &.active {
            color: $selected-blue;
            font-weight: 600;
            .colorBlock {
              background-color: $navy-blue;
            }
          }
        }
      }

      .authors {
        .authorName {
          font-weight: 600;
          font-size: 1.2rem;
          margin-bottom: 20px;
          color: $selected-blue;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        .authorInfo {
          @include spaceItemsVert(20px);
          .infoItem {
            .field {
              text-transform: uppercase;
              font-family: 'rawline', serif;
              font-size: 0.8rem;
              margin-bottom: 2px;
            }
            .value {
            }
          }
        }
      }

      // add "gap" between panels
      > div {
        &:not(:first-child) {
          border-top: 10px solid white;
        }
        // &:nth-last-child(2) {
        //   border-bottom: none;
        // }
        // &:last-child {
        //   border-bottom: 10px solid white;
        // }
      }
    }
  }
  .noData {
    font-style: italic;
    color: $gray;
  }
}
