.detail {
  // standard: max width of screen is 1300px
  // center content in that view
  // TODO pull up in scope to master SCSS file
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  min-height: 90vh;
}
