@import '../../assets/styles/vars.scss';

@mixin sectionHeader() {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.detailOverlay {
  display: flex;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;

  &.floating {
    .container {
      z-index: 9; // above header
      position: absolute;
      top: -10px; // TODO elegantly, get value from search.module.scss
      transition: opacity 0.5s;

      .band {
        display: flex;
        border-radius: $big-radius $big-radius 0px 0px;
      }
      .relatedItems {
        border-radius: 0px 0px $big-radius $big-radius;
      }
    }
    .card {
      padding-bottom: 20px;
      margin: 0px 20px;
    }
  }

  .container {
    .relatedItems {
      background-color: $light-gray;
      padding: 20px;
      .similarHeader {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        @include sectionHeader();
        .similarText {
          margin-left: 10px;
        }
      }
    }
    // standard: max width of screen is 1300px
    // center content in that view
    // TODO pull up in scope to master SCSS file
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    font-size: 1rem;

    .link {
      color: $light-blue;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    // // style highlighted text
    // .highlighted {
    //   box-shadow: inset 0 -2px 0 white, inset 0 -10px 0 #ffff00;
    //   &.small {
    //     box-shadow: inset 0 -2px 0 white, inset 0 -5px 0 #ffff00;
    //   }
    // }

    .band {
      display: none;
      padding: 20px 15px 10px 20px;
      background-color: $light-gray;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .recordType {
        @include sectionHeader();
      }
      .closeButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        cursor: pointer;
        i {
          color: $blue;
          font-weight: bold;
          font-size: 2.5rem;
        }
        &:hover {
          background-color: darken($light-gray, 5%);
          border-radius: 50%;
        }
        &:active {
          @include boxShadow();
          background-color: darken(white, 10%);
        }
      }
    }
    transition: opacity 0.25s;

    .content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 300px;
      background-color: $light-gray;
      border-radius: 0px 0px $big-radius $big-radius;

      .sideBar {
        @include spaceItemsVert(10px);
        padding: 20px;
        background-color: white;
        &.wide {
        }

        .keyTopics {
          @include spaceItemsVert(10px);
          .keyTopic {
            display: grid;
            grid-template-columns: 15px 1fr;
            grid-gap: 0 5px;
            align-items: center;
            color: #898989;
            span {
              color: unset;
            }
            .colorBlock {
              height: 30px;
              background-color: #e5e5e5;
            }
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
            &.active {
              color: $light-blue;
              font-weight: 600;
              .colorBlock {
                background-color: $blue;
              }
            }
          }
        }

        .authors {
          @include borderItemsVert(30px);

          .author {
            border-width: 4px;
            .authorName {
              font-weight: 600;
              font-size: 1.2rem;
              margin-bottom: 20px;
              color: $light-blue;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
            .authorInfo {
              @include spaceItemsVert(20px);
              .infoItem {
                .field {
                  text-transform: uppercase;
                  font-size: 0.8rem;
                  margin-bottom: 2px;
                }
                .value {
                  display: flex;
                  align-items: center;
                  img {
                    height: 20px;
                    margin-right: 3px;
                  }
                }
              }
            }
          }
        }
        .govAuth {
          border: 1px solid $blue;
          padding: 10px;
          &.yes {
            // background-color: #dae0f1;
            font-weight: 600;
          }
          &.notAvail {
            border-color: $light-blue;
          }
        }

        // add "gap" between panels
        > div {
          &:not(:first-child) {
            border-top: 10px solid white;
          }
          // &:nth-last-child(2) {
          //   border-bottom: none;
          // }
          // &:last-child {
          //   border-bottom: 10px solid white;
          // }
        }
      }
    }
    .noData {
      font-style: italic;
      color: $light-blue;
    }
  }
  &.page {
    .container {
      padding: 0px;
      max-width: 1440px;
      .content {
        .card {
          padding: 0px 20px;
        }
        .sideBar {
          margin: 0px;
          padding: 0px 20px 20px 20px;
        }
      }
    }
  }
  // wide view: sidebar goes under the card
  // non-wide view: sidebar goes along the right gutter
  &.wide {
    .content {
      grid-template-columns: unset;
      .sideBar {
        display: grid;
        grid-gap: 10px;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fit, minmax(auto, 280px));
        > div {
          border: none !important;
          margin: 0 !important;
          // width: max-content;
          &:first-child {
            // width: 300px;
          }
        }
      }
      // Using flex
      // .sideBar {
      //   background-color: $very-light-gray;
      //   display: flex;
      //   flex-flow: wrap;
      //   > div {
      //     border: none !important;
      //     margin: 0 !important;
      //     width: max-content;
      //   }
      // }
    }
  }
}
.shadow {
  pointer-events: none;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.25;
}
