@import '../../../assets/styles/vars.scss';
.container {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  .toggle {
    color: $light-blue;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    white-space: nowrap;
  }
}
