@import '../../../assets/styles/vars.scss';
.ticker {
  display: flex;
  flex-flow: column;
  // @include spaceItemsHoriz(30px);
  width: 100%;

  .label {
    text-transform: uppercase;
  }
  .tickerContent {
    display: flex;
    flex-flow: row;
    align-items: center;
    @include spaceItemsHoriz(30px);
    width: 100%;

    .items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .item {
        margin: 20px 10px 0 10px;
        .thumbnail {
          $max-height: 75px;
          height: $max-height;
          border: solid 4px transparent;
          transition: border-color 0.25s, opacity 0.25s;
          opacity: 0.5;
          cursor: pointer;
          @include boxShadowStrong();

          &.placeholder {
            position: relative;
            width: $max-height/1.29;
            border: solid 1px gray;
            @include boxShadowStrong();
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            img {
              $size: 30%;
              height: $size;
              width: $size;
              position: absolute;
              top: 3px;
              left: 5px;
            }
          }

          &:hover {
            opacity: 0.75;
          }
        }

        // animate border change
        &.current {
          transition: border-color 0.25s, opacity 0.25s;
          .thumbnail {
            opacity: 1;
            border: solid 4px $light-blue;
          }
        }
      }
    }

    // style prev/next buttons (carets)
    button {
      background: none;
      border: none;
      font-size: 5rem;
      position: relative;
      line-height: 0;
      top: -4px;
      color: #333;
      &:hover {
        color: black;
      }
      &:active {
        color: $blue;
      }
      &.disabled {
        color: gray;
        pointer-events: none;
      }
    }
  }
}
