@import '../../assets/styles/vars.scss';
.container {
  // standard: max width of screen is 1300px
  // center content in that view
  // TODO pull up in scope to master SCSS file
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  min-height: 90vh;
  h2 {
    font-weight: 500;
    font-family: 'rawline', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    i {
      margin-right: 8px;
      margin-bottom: -5px;
      font-size: 1.8rem;
      color: #3b528f;
    }
  }
  $b-width: 2px;
  $b: solid $b-width #bebebe;
  .toggleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .tabs {
      margin-top: 20px;
      @include spaceItemsHoriz(10px);
      display: flex;
      .tab {
        border: $b;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1.7rem;
        font-family: 'rawline', sans-serif;
        &.selected {
          border-bottom: $b-width solid white;
          z-index: 1;
          font-weight: 600;
        }
      }
    }
  }
  .content {
    border: $b;
    margin-top: -$b-width;
    margin-bottom: -$b-width;
    padding: 20px;
    p {
      font-size: 1.2rem;
      line-height: 1.8rem;

      &:not(:first-child) {
        margin-top: 20px;
      }
    }
    h3 {
      font-size: 1.8rem;
      font-weight: 600;
      font-family: 'rawline', sans-serif;
      border-top: 3px solid $light-blue;
      padding-top: 10px;
      margin: 40px 0px 20px 0px;
    }
    .contributors {
      &:not(:last-child) {
        margin-bottom: 90px;
      }
      .contributor {
        display: grid;
        grid-template-columns: 1fr 3fr;
        background-color: $very-light-gray;
        &:not(:first-of-type) {
          margin-top: 20px;
        }
        img {
          width: 100%;
          padding: 20px;
          &.talus {
            width: 95%;
          }
          &.schmidt {
            width: 80%;
          }
        }
      }
    }
  }
}
