@import '../../../../assets/styles/vars.scss';

.checkbox {
  > div {
    font-weight: bold;
  }
  form {
    display: flex;
    flex-flow: column;
  }
  label {
    font-weight: normal;
    color: #333;
    display: flex;
    flex-flow: row;
    white-space: normal;
    cursor: pointer;
  }
  input {
    margin: auto 5px auto 0;
    &:checked + span {
      color: $selected-blue;
    }
  }

  // gray checkboxes
  &.gray {
    label {
      color: #7c7c7c;
    }
  }

  // hide zeros
  &.hide {
    display: none;
  }
}
