@import '../../../assets/styles/vars.scss';

.selectpicker {
  .label {
    margin-bottom: 5px;
    font-weight: 600;
  }

  select {
    font-size: 0.9em;
    max-width: 200px;
    height: 30px;
    border: 2px $blue solid;
    color: $blue;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: $very-light-gray;
    }
  }

  &.disabled {
    select {
      color: $gray;
      border-color: $gray;
    }
    pointer-events: none;
  }
}
