@import '../../../assets/styles/vars.scss';

.selectpicker {
  .label {
    margin-bottom: 5px;
    font-weight: 600;
  }

  select {
    font-size: 1em;
    max-width: 200px;
    height: 36px;
    cursor: pointer;
  }

  &.disabled {
    color: gray;
    select {
      background-color: $very-light-gray;
    }
    pointer-events: none;
  }
}
