@import '../../../assets/styles/vars.scss';

.selectpicker {
  .label {
    font-weight: 600;
  }

  select {
    font-size: 1em;
    max-width: 200px;
    height: 34px;
    border: 2px $blue solid;
    color: $blue;
    border-radius: $border-radius;
    cursor: pointer;
    width: max-content;
    &:hover {
      background-color: lighten($light-gray, 3%);
    }
  }

  &.disabled {
    select {
      color: $light-blue;
      border-color: $light-blue;
    }
    pointer-events: none;
  }
}
