@import '../../../assets/styles/vars.scss';
.options {
  border-right: 2px $soft-blue solid;
  height: 100%;
  min-height: 90vh;
  .sortBy {
    display: flex;
    align-items: flex-end;
    @include spaceItemsHoriz(10px);
  }
  .content {
    @include spaceItemsVert(20px);
  }
  .customYearRange {
    display: flex;
    align-items: center;
    @include spaceItemsHoriz(10px);
  }

  .collapseOrExpandAll {
    display: flex;
    @include spaceItemsHoriz(10px);
  }
}

@import './responsive.module.scss';
