@import '../../../assets/styles/vars.scss';
.cardList {
  // background-color: lightgreen;
  width: 100%;
  @include spaceItemsVert(20px);
  padding: 10px 0;
  .cards {
    display: grid;
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 10px 0;
  }
}
