@import '../../../assets/styles/vars.scss';
.cardList {
  // background-color: lightgreen;
  width: 100%;
  @include spaceItemsVert(20px);
  margin-bottom: 20px;
  .cards {
    display: flex;
    flex-direction: column;
    @include spaceItemsVert(30px);
  }
}

@media #{$phone} {
  .nextButton {
    display: none;
  }
}
