@import '../../../assets/styles/vars.scss';
.cardList {
  // background-color: lightgreen;
  width: 100%;
  @include spaceItemsVert(20px);
  margin-bottom: 20px;
  .cards {
    display: grid;
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 30px 0;
  }
}

@media #{$phone} {
  .nextButton {
    display: none;
  }
}
