@import '../../../assets/styles/vars.scss';

.banner {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $yellow;
  display: flex;
  justify-content: center;
  padding: 15px 20px;

  .container {
    padding-left: 162px;
    padding-right: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    > a {
      text-decoration: underline;
      color: $dark-blue;
    }
    > button {
      border: none;
      background: none;
      margin-left: auto;
      text-decoration: underline;
      color: $dark-blue;
    }

    @media screen and (max-width: 1050px) {
      padding-left: 115px;
    }
  }
  @media screen and (max-width: 813px) {
    display: none;
  }
}
