@import '../../../assets/styles/vars.scss';

.wrapper {
  display: flex;
  flex-flow: column;
  font-size: 1rem;
  .toggle {
    margin-left: auto;
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    &:hover {
      text-decoration: underline;
    }
    .filterIcon {
      margin-left: 10px;
      margin-right: 0;
    }
  }
}

.hidden {
  display: none;
}
.filterSet {
  display: flex;
  flex-flow: wrap;
  @include spaceItemsHoriz(5rem);
  .filterGroup {
    display: flex;
    flex-flow: column;
    &:not(.vertical) {
      @include spaceItemsHoriz(50px);
      flex-flow: row;
    }

    &.dropdowns {
      margin-top: 20px;

      > div {
        min-width: 250px;
        margin: 0;
      }
    }
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
.filterIcon {
  @include btn-primary(false);
  margin-right: 10px;
  padding: 3px;
  &:hover {
    background-color: unset;
  }
  div {
    background-repeat: no-repeat;
    background-position: center;
    height: 15px;
    width: 16px;
    background-size: contain;
  }
}
.selectedFilters {
  padding: 10px;
  padding-bottom: 0;
  background-color: white;
  border: 1px solid #999;
  @include spaceItemsVert(20px);
  .header {
    display: flex;
    align-items: center;
    .clear {
      color: $light-blue;
      background-color: white;
      border: none;
      font-size: 0.8rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .badges {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 10px;
    // TODO reconcile with padding;

    .badge {
      font-family: 'Open Sans', sans-serif;
      display: flex;
      align-items: center;
      border-radius: 8px;
      border: 2px solid #b3b3b3;
      color: #333;
      padding: 5px 10px;
      margin-bottom: 0.5em;
      margin-right: 0.5em;
      .label {
        text-transform: uppercase;
      }
      .close {
        margin-left: 1em;
        > a {
          display: flex;
          cursor: pointer;

          $background-color: #4682b4;
          background-color: $background-color;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          $size: 18px;
          height: $size;
          width: $size;
          border: 3px solid $background-color;

          &:hover {
            background-color: darken($background-color, 5%);
            border-color: darken($background-color, 5%);
            text-decoration: none;
          }
          &:active {
            background-color: darken($background-color, 10%);
            border-color: darken($background-color, 10%);
            @include boxShadow();
          }
        }
      }
    }
  }
}

@media #{$phone} {
  .filterSet {
    margin: 0;

    @include borderItemsVert(20px);

    .filterGroup {
      width: 100%;
      flex-flow: column;
      margin: 0;
      > div {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}
