@import '../../../assets/styles/vars.scss';

$black: #303434;
.footer {
  margin-top: 80px;
  height: 90px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $black;
  .content {
    display: flex;
    flex-direction: row;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        border-right: 1px solid $black;
      }
      &:nth-child(2) {
        //bump the height of GU logo slightly
        img {
          height: 50px;
        }
      }
    }
    img {
      height: 40px;
      padding: 0px 40px;
    }
  }
}


@import './responsive.module.scss';
