@import '../../../assets/styles/vars.scss';

@media (max-width: 1000px) {
  .footer {
    justify-content: flex-start;
  }
}
@media (max-width: 812px) {
  .footer {
    height: unset;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 0px;
    justify-content: center;
    .content {
      flex-direction: column;
      a {
        &:not(:last-child) {
          border-right: 0px solid $black;
        }
      }
      img {
        height: 70px;
        padding: 15px 0px;
      }
    }
  }
}
