@import '../../../assets/styles/vars.scss';

@media #{$phone} {
  .footerContainer {
    .footer {
      .logos {
        width: 400px;
      }
    }
  }
}

@media #{$phone-narrow} {
  .footerContainer {
    .footer {
      .logos {
        width: 100%;
        padding: 20px 0px 60px 0px;
      }
    }
  }
}
