@import '../../assets/styles/vars.scss';
.browse {
  // standard: max width of screen is 1300px
  // center content in that view
  // TODO pull up in scope to master SCSS file
  max-width: 1440px;
  margin: 20px auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  position: relative;
  min-height: 90vh;

  .browseSelection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 1%;
    .browseButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      @include noSelect();
      padding: 15px;
      width: 100%;
      border-radius: $big-radius;
      &:hover {
        background-color: $light-gray;
        .selectedRectangle {
          width: 60px;
          transition: 0.5s;
        }
      }
      .buttonIcon {
        $icon-size: 60px;
        i {
          font-size: $icon-size;
          color: $orange;
        }
        img {
          $adjusted-size: calc(#{$icon-size} - 6px);
          width: $adjusted-size;
          height: $adjusted-size;
          margin-bottom: 6px;
        }
      }
      .buttonLabel {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
      }
      .selectedRectangle {
        background-color: $orange;
        border-radius: $border-radius;
        margin-top: 10px;
        height: 8px;
        width: 0px;

        &.selected {
          width: 60px;
        }
      }
    }
  }

  .results {
    @include spaceItemsVert(20px);
    .item {
      background-color: $light-gray;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
      font-size: 1.2rem;
      border-radius: $big-radius;
      .name {
        color: $dark-blue;
        font-weight: 500;
      }
      .count {
        color: $light-blue;
      }
    }
  }
  // space out the left and right sections consistently
  .sections {
    // for large screens show search on the right and options on the left
    display: flex;
    flex-direction: column;
  }
}
