@import '../../../assets/styles/vars.scss';
.cardContainer {
  .card {
    z-index: 1;
    background-color: $light-gray;
    width: 100%;
    padding: 20px;
    border: 1px solid transparent;
    transition: all ease 0.25s;
    position: relative;
    font-size: 1rem;
    &:not(.detail) {
      &:hover {
        // border-color: $dark-blue;
        background-color: darken($light-gray, 4%);
        @include boxShadowStrong();
        cursor: pointer;
      }
      &:active {
        background-color: darken($light-gray, 6%);
      }
    }
    &.detail,
    &.related {
      background-color: white;
      &:hover {
        background-color: white;
      }
    }
    $frame: 15px;
    $max-height: 180px;
    $max-height-lg: 330px;

    // if detail page card, allow larger sizing
    $letter-width: $max-height/1.29;
    $letter-width-lg: $max-height-lg/1.29;

    display: grid;
    grid-template-columns: max-content $letter-width auto;
    column-gap: 20px;
    @include spaceItemsHoriz(20px);

    // make thumbnail col content centered and spaced
    .col.thumbnailCol {
      display: flex;
      flex-flow: column;
      align-items: center;
      @include spaceItemsVert(10px);
      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include spaceItemsVert(10px);
      }
    }

    // let details and actions column use full width
    .col.contentCol {
      width: 100%;
      height: 100%;
    }

    // $thumbBorder: 10px solid white;
    $thumbBorder: 1px solid $orange;
    // non-detail thumbnails: normal size
    .thumbnail {
      width: $letter-width;
      display: flex;
      justify-content: center;
      img {
        border: $thumbBorder;
        padding: $frame;
        max-height: $max-height;
        max-width: $letter-width;
        background-color: white;
      }
      &.placeholder {
        position: relative;
        // placeholder thumbnail shown if no file is available
        border: $thumbBorder;
        padding: $frame;
        height: $max-height + 30px; // like a letter page
        width: $letter-width + 30px;
        background-color: white;
        // format text in placeholder rectangle
        text-align: center;
        align-items: center;
        color: $light-blue;
        img {
          padding: 0px;
          border: none;
          position: absolute;
          top: 5%;
          left: 7%;
          height: 20%;
        }
        font-size: 3rem;
        font-weight: 600;
      }
    }

    // detail thumbnails: larger, etc.
    &.detail {
      padding: 20px;
      grid-template-columns: max-content $letter-width-lg auto;
      //border: $orange 3px solid;
      border-bottom-width: 0px;
      .resultNumber {
        display: none;
      }
      .col:last-child {
        margin-left: 10px;
        padding-right: 0;
      }
      .thumbnail {
        width: $letter-width-lg;
        font-size: 5rem;
        // justify-content: unset;
        img {
          max-height: $max-height-lg;
          max-width: $letter-width-lg;
        }
        &.placeholder {
          height: $max-height-lg; // like a letter page
          width: $letter-width-lg;
        }
      }
      .noData {
        color: $light-blue;
        font-style: italic;
      }
      .contentCol {
        .main {
          .top {
            .headerAndTitle {
              .title {
                .text {
                  // color: $orange;
                }
              }
            }
          }
          .detailsAndDownloads {
            display: grid;
            grid-template-columns: 1fr;
            border-color: $blue;
            .downloads {
              border-color: $blue;
            }
          }
        }
      }
    }

    .resultNumber {
      margin-right: 10px;
      font-weight: bold;
      font-size: 1.5rem;
      color: $orange;
    }
    .contentCol {
      .main {
        width: 100%;
        margin-left: 10px;
        padding-right: 20px;

        .top {
          display: grid;
          grid-gap: 0 20px;
          grid-template-columns: 1fr auto;
          align-items: flex-start;

          .headerAndTitle {
            .header {
              width: 100%;
              position: relative;
              display: flex;
              justify-content: space-between;
              font-weight: 500;
              margin-bottom: 2px;
              // report, goverment action, etc. displayed just above title
              .type {
                text-transform: uppercase;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 400;
                color: $blue;
              }
            }
            .title {
              .text {
                max-width: 95%;
                margin-top: 10px;
                font-size: 1.6rem;
                line-height: 1.45;
                font-weight: 500;
                color: $dark-blue;
                &.noTopMargin {
                  margin-top: 0px;
                }
              }
            }
          }
          // quick actions in the upper right corner of the card to bookmark or
          // to open in new tab
          .quickActions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            right: -3px;
          }
        }
        .detailsAndDownloads {
          display: flex;
          margin-top: 15px;
          padding-bottom: 20px;
          border-bottom: 1px $light-blue solid;

          .details {
            display: flex;
            flex-direction: column;
            @include spaceItemsVert(10px);
            // color details icons navy blue
            i {
              color: $blue;
            }

            // alignment for individual detail items
            .authOrg,
            .date {
              @include spaceItemsHoriz(8px);
              display: flex;
              align-items: center;
            }
            .authOrgList,
            .date {
              font-size: 1rem;
            }
            .authorList {
              font-style: italic;
            }
          }
        }

        // actions below main card info to preview file or view popup
        .actions {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin-top: 20px;
          @include spaceItemsHoriz(8px);
          div {
            @include center();
          }
          .mobilePreviewButton {
            display: none;
          }
        }
        // description snippet, if any text matched, with a few words around the
        // matched text
        .descriptionSnippet {
          margin-top: 20px;
          color: $blue;
          line-height: 1.5;
          display: flex;
          flex-direction: column;
          .descripLabel {
            font-weight: 500;
            margin-bottom: 2px;
          }
        }

        // tag snippets: including an icon and some matched text
        .tagSnippets {
          padding-top: 20px;
          display: flex;
          flex-flow: column;
          @include spaceItemsVert(10px);
          line-height: 1.5;
          &.topBorder {
            margin-top: 20px;
            border-top: 1px $light-blue solid;
          }
          .tagSnippetsHeader {
            font-weight: 500;
          }

          .tagSnippet {
            display: flex;
            @include spaceItemsHoriz(8px);
            align-items: center;
            i {
              color: $blue;
            }
            .iconSnippet {
              display: flex;
              flex-flow: wrap;
            }
          }
        }
      }
    }
    // style highlighted text
    .highlighted {
      // text-decoration: underline;
      // text-decoration-color: underline;
      box-shadow: inset 0 -5px 0 $highlighted;
      &.small {
        box-shadow: inset 0 -3px 0 $highlighted;
      }
      color: $dark-blue;
    }
    .description {
      .highlighted {
        box-shadow: inset 0 -3px 0 $highlighted;
      }
    }
    .link {
      color: $blue;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &.detail,
    &.related {
      .link {
        .highlighted {
          box-shadow: none;
          color: $blue;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    // if detail card: reformat to suit the details page
    &.detail {
      // hide actions since they are shown elsewhere
      .detailsAndDownloads {
        .actions {
          display: none;
        }
      }

      // hide tag snippets too
      .tagSnippets {
        display: none;
      }
    }

    // Downloads list
    .downloads {
      width: auto;
      border-left: 1px $light-blue solid;
      padding-left: 40px;
      margin-left: 40px;
      i {
        position: relative;
        left: -5px;
      }
      .downloadItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
          color: $blue;
        }
        > i {
          margin-left: 4px;
        }
        > div {
          margin-left: 8px;
          white-space: normal;
          word-break: break-all;
        }
        > :last-child {
          .noBreak {
            white-space: nowrap;
          }
        }
      }
    }

    // make special icons the same size as material icons
    .specialIcon {
      $size: 24px;
      height: 24px;
      width: 24px;
    }

    // when frozen, don't allow pointer events, e.g., when preview modal is up
    &.frozen {
      &,
      *:not(div:first-child) {
        pointer-events: none;
      }
    }
  }

  // reasons why related, for related items
  .why {
    margin-left: auto;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    color: $dark-blue;
    margin-top: 30px;
  }
}

@import './responsive.module.scss';
