@import "src/assets/styles/vars.scss";
.FileDownloadList {
    width: 100%;
    cursor: pointer;
    .label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        + ul.fileList {
            margin-top: 0.5em;
        }
        i {
            border-radius: 100%;
        }
        &:hover {
            i {
                background-color: darken($light-gray, 5%);
                transition: 0.5s;
            }
        }
    }
    ul.fileList {
        margin: 0;
        padding-left: 1.75em;
        li {
            font-size: 0.9em;
            &:not(:last-child) {
                margin-bottom: 0.5em;
            }
        }
    }
}
