@import '../../../assets/styles/vars.scss';

@media screen and (max-width: 1275px) {
  .cardContainer {
    .card {
      .contentCol {
        .main {
          .detailsAndDownloads {
            flex-direction: column;
          }
          .actions {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media #{$breakpoint-one} {
  .cardContainer {
    .card {
      .contentCol {
        .main {
          .top {
            .headerAndTitle {
              .title {
                .text {
                  font-size: 1.2rem;
                }
              }
            }
          }
          .descriptionSnippet {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .cardContainer {
    .card {
      .contentCol {
        .main {
          .detailsAndDownloads {
          }
          .actions {
            margin-top: 10px;
          }
        }
      }
      &.detail {
        .contentCol {
          .main {
            .detailsAndDownloads {
              grid-template-columns: 1fr;
              .downloads {
                margin: 20px 0px 0px 0px;
                padding: 20px 0px 0px 0px;
                border-top: 1px $blue solid;
                border-left: unset;
              }
            }
            .actions {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .cardContainer {
    .card {
      column-gap: 5px;
    }
  }
}

@media #{$phone} {
  .cardContainer {
    .card {
      .contentCol {
        .main {
          .top {
            .headerAndTitle {
              .title {
                .text {
                  font-size: 1.1rem;
                }
              }
            }
          }
          .descriptionSnippet {
            font-size: 1rem;
          }
          .detailsAndDownloads {
          }
          .actions {
            .previewButton {
              display: none;
            }
            .mobilePreviewButton {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media #{$phone-narrow} {
  .cardContainer {
    .card {
      display: flex;
      flex-direction: row;
      > :not(:last-child) {
        margin-right: 0px;
      }
      .thumbnail {
        display: none;
      }
      .contentCol {
        .main {
          .top {
            grid-gap: 0 5px;
            .headerAndTitle {
              .header {
                .type {
                  font-size: 0.8rem;
                  margin-bottom: 5px;
                }
              }
              .title {
                .text {
                  font-size: 0.9rem;
                }
              }
            }
          }
          .detailsAndDownloads {
            .details {
              grid-template-columns: 1fr;
              font-size: 0.9rem;
              .date {
                margin-top: 5px;
              }
            }
          }
          .actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 0px;
            .mobilePreviewButton {
              margin-bottom: 10px;
            }
          }
          .descriptionSnippet {
            font-size: 0.9rem;
          }
        }
      }
      .tagSnippets {
        font-size: 0.9rem;
      }
    }
  }
}
