@import '../../../assets/styles/vars.scss';

@media screen and (max-width: 1275px) {
  .cardContainer {
    .card {
      .contentCol {
        .main {
          .detailsAndActions {
            flex-direction: column;
            .actions {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

@media #{$breakpoint-one} {
  .cardContainer {
    .card {
      .contentCol {
        .main {
          .top {
            .headerAndTitle {
              .title {
                .text {
                  font-size: 1.2rem;
                }
              }
            }
          }
          .detailsAndActions {
            .actions {
            }
          }
          .descriptionSnippet {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
