body,
button {
  font-family: 'Open Sans';
  font-weight: normal;
}

button {
  outline: none;
}

p {
  margin: 0;
}

h2 {
  font-family: 'rawline', serif;
  font-size: 2.13rem;
  font-weight: 600;
}
