@import '../../assets/styles/vars.scss';
@media screen and (min-width: 813px) {
  .mobile {
    display: none;
  }
}
@media #{$phone} {
  .largeFlag,
  .home {
    display: none;
  }
  .mobile {
    display: flex;
    align-items: center;
    padding: 10%;
    .disclaimer {
      font-size: 1.2rem;
      line-height: 1.8rem;
      text-align: center;
    }
  }
}
