// VARIABLES
// Project colors
$dark-blue: #2b2d42;
$blue: #404263;
$text-blue: #375fa3;
$light-blue: #8d99ae;
$green: #06777c;
// $orange: #ef233c;
// $orange: #ef2e45;
// $orange: #f14156;
$orange: #be0e23; //firebrick. ellie liked this one the most
//$orange: #ab0d1f; //one shade darker
$light-gray: #edf2f4;

// General colors:
$lighter-gray: #f2f2f2;
$very-light-gray: #f7f7f7;
$btn: $light-blue;
$cyan: #53aadd;
$light-blue-2: #abdaf4;

// functional colors
$highlighted: lighten($orange, 30%);

// general styles
$border: 1px solid #8d99ae;
$border-radius: 5px;
$overviews-bottom-margin: 40px;

// MIXINS // ---------—---------—---------—---------—---------—---------—--- //
@mixin sticky($top: 0) {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: $top;
}

@mixin spaceItemsVert($size, $top: true, $padding: false) {
  @if $padding {
    @if $top {
      > :not(:first-child) {
        padding-top: $size;
      }
    } @else {
      > :not(:last-child) {
        padding-bottom: $size;
      }
    }
  } @else {
    @if $top {
      > :not(:first-child) {
        margin-top: $size;
      }
    } @else {
      > :not(:last-child) {
        margin-bottom: $size;
      }
    }
  }
}
@mixin spaceItemsHoriz($size) {
  > :not(:last-child) {
    margin-right: $size;
  }
}

@mixin borderItemsVert($size) {
  > :not(:first-child) {
    margin-top: $size;
    padding-top: $size;
    border-top: $border;
  }
}
@mixin borderItemsHoriz($size) {
  > :not(:first-child) {
    margin-left: $size;
    padding-left: $size;
    border-left: $border;
  }
}

@mixin horiz() {
  display: flex;
  flex-flow: row;
}

@mixin boxShadow($offset: 1px) {
  box-shadow: $offset $offset 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: $offset $offset 5px 0 rgba(0, 0, 0, 0.25);
}

@mixin boxShadowStrong() {
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
}
@mixin noShadow() {
  box-shadow: none;
  -webkit-box-shadow: none;
}

@mixin gradientGray($dir: top) {
  background: -moz-linear-gradient($dir, #ffffff 0%, #e4e4e4 100%);
  background: -ms-linear-gradient($dir, #ffffff 0%, #e4e4e4 100%);
  background: -o-linear-gradient($dir, #ffffff 0%, #e4e4e4 100%);
  background: -webkit-linear-gradient($dir, #ffffff 0%, #e4e4e4 100%);
}

// @mixin btn-primary($hover: true) {
//   border: 2px solid $blue;
//   border-radius: 6px;
//   background: -moz-linear-gradient(top, $btn 0%, $blue 100%);
//   background: -ms-linear-gradient(top, $btn 0%, $blue 100%);
//   background: -o-linear-gradient(top, $btn 0%, $blue 100%);
//   background: -webkit-linear-gradient(top, $btn 0%, $blue 100%);

//   @if $hover {
//     &:hover,
//     &:active {
//       background: white;
//       color: $blue;
//       border-color: $blue;
//     }
//     &:active {
//       @include boxShadow();
//     }
//   }
// }

@mixin btn-primary($hover: true) {
  border: 2px solid transparent;
  border-radius: 6px;
  background: -moz-linear-gradient(top, #425379 0%, $blue 100%);
  background: -ms-linear-gradient(top, #425379 0%, $blue 100%);
  background: -o-linear-gradient(top, #425379 0%, $blue 100%);
  background: -webkit-linear-gradient(top, #425379 0%, $blue 100%);

  @if $hover {
    &:hover,
    &:active {
      background: white;
      color: $blue;
      border-color: $blue;
    }
    &:active {
      @include boxShadow();
    }
  }
}

@mixin selectStyling() {
  // for styling select lists
  // custom caret appearance with gradient included
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 9px 40px 9px 9px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 216 216'%3E%3Cpath fill='%23fff' fill-opacity='0' d='M0 0h216v216H0z'/%3E%3Cpath fill='%2358595b' d='M72 92.25h72l-36 40.5z'/%3E%3C/svg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e4e4e4 100%);
  background-repeat: no-repeat;
  background-position: right, 100%;
}

@mixin disabled() {
  color: gray;
  pointer-events: none;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// GLOBAL CONSTANTS // ---------—---------—---------—---------—---------—--- //
$breakpoint-one: 'screen and (max-width: 1150px)';
$breakpoint-two: 'screen and (max-width: 1000px)';
$phone: 'screen and (max-width: 812px)';
$phone-narrow: 'screen and (max-width: 500px)';
$not-phone: 'screen and (min-width: 813px)';
$max-width: 1400px;
$bin-width: 86.5px; // usual bin width for score percentage qual. scale bins

// // make colors and media query-related globals available to JS
// :export {
//   red: $red;
//   lightred: $light-red;
//   darkblue: $dark-blue;
//   white: $white;
//   cyan: $cyan;
//   lightcyan: $light-cyan;
//   noDataGray: $light-gray;
//   gray: $light-blue;
//   softYellow2: $soft-yellow-2;
//   softBlue: $blue;
//   grayishCyan: $light-blueish-cyan;
//   darkTeal: $dark-teal;
//   phone: $phone;
//   phoneNarrow: $phone-narrow;
// }
