@import '../../../assets/styles/vars.scss';
.navWrapper {
  font-family: 'Rawline', serif;
  border-bottom: 12px solid $soft-blue;
  z-index: 9;
  width: 100%;
  background: white;

  .nav {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    // center link text and icons
    .linkText {
      display: flex;
      align-items: center;
      @include spaceItemsHoriz(3px);
      i {
        position: relative;
        top: 2px;
        text-decoration: none;
      }
    }

    // loading spinner
    .loading {
      position: absolute;
      height: 100px;
      left: 250px;
      opacity: 0;
      transition: all 0.5s;
      &.showLoading {
        opacity: 1;
      }
    }
    .menu {
      .links {
        margin-top: 28px;
        display: flex;
        font-size: 1.2rem;
        > :not(:last-child) {
          margin-right: 3rem;
        }
        //help us update button is actually last child, so we also need this for last link:
        > :nth-last-child(2) {
          margin-right: 0;
        }
        .compareLink {
          > span {
            display: none;
          }
        }
      }
      .hamburger {
        display: none;
      }
    }
    a,
    .countryLinkContainer {
      text-decoration: none;
      > span {
        &:hover {
          text-decoration: underline;
        }
      }
      &:not([role='search-result']) {
        color: $navy-blue;
        white-space: nowrap;
      }
    }
    .countryLinkContainer {
      position: relative;
    }
    .countryPicker {
      .tabContainer {
        position: absolute;
        right: -20px;
        top: -10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include boxShadow();
        border-radius: 5px 5px 0 0;
        .tab {
          padding: 10px 20px 10px 20px;
          background-color: white;
          height: 45px;
          //text-decoration: underline;
          z-index: 1;
          border-radius: 5px 5px 0 0;
        }
      }
      .content {
        position: absolute;
        top: 34px;
        right: -20px;
        background-color: white;
        width: 300px;
        padding: 20px;
        @include boxShadow();
        border-radius: 5px 0 5px 5px;
        .title {
          text-align: left;
          margin-bottom: 20px;
          color: black;
          font-size: 1.4rem;
        }
      }
    }
    .active * {
      font-weight: bold;
    }
    a:first-child {
      margin-right: auto;
      display: flex;
      align-items: center;
    }
    img {
      height: 60px;
    }
  }
  &.wide {
    div {
      max-width: unset;
    }
  }
  @media #{$not-phone} {
    &:not(.wide):not(.static) {
      @include sticky();
    }
    .menu .links {
      align-items: center;
    }
    .links > .contactDrape {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 0.9rem;
      font-weight: 500;
      background-color: $light-gray-2;
      padding: 6px 12px;
      border-radius: 0 0 4px 4px;
      margin-right: 0 !important;
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        span {
          text-decoration: underline;
        }
      }
      > div {
        display: flex;
        align-items: center;

        i {
          margin-right: 7px;
          text-decoration: none;
        }
      }
    }
  }
}
@import './responsive.module.scss';
