@import '../../../assets/styles/vars.scss';
.navWrapper {
  z-index: 9;
  width: 100%;
  background: $orange;
  color: white;
  position: relative;

  .nav {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    .hidden {
      visibility: hidden;
    }
    // center link text and icons
    .linkText {
      display: flex;
      align-items: center;
      @include spaceItemsHoriz(3px);
      color: white;
      i {
        position: relative;
        text-decoration: none;
      }
    }

    // loading spinner
    .loading {
      position: absolute;
      height: 100px;
      left: 250px;
      opacity: 0;
      transition: all 0.5s;
      &.showLoading {
        opacity: 1;
      }
    }
    .menu {
      .links {
        display: flex;
        font-size: 1.2rem;
        // margin-right: 160px;
        > :not(:last-child) {
          margin-right: 3rem;
        }
      }
      .hamburger {
        display: none;
      }
    }
    a {
      text-decoration: none;
      > span {
        &:hover {
          text-decoration: underline;
        }
      }
      &:not([role='search-result']) {
        white-space: nowrap;
      }
    }
    .active * {
      font-weight: 600;
    }
    a:first-child {
      margin-right: auto;
      display: flex;
      align-items: center;
    }
    img {
      height: 60px;
    }
    &.landing {
      .menu {
        .links {
          @media screen and (max-width: 2000px) {
            margin-right: 5rem;
          }
          @media screen and (max-width: 1800px) {
            margin-right: 10rem;
          }
          @media screen and (max-width: 1600px) {
            margin-right: 14rem;
          }
          @media screen and (max-width: 1400px) {
            margin-right: 15rem;
          }
          @media screen and (max-width: 1000px) {
            margin-right: 10rem;
          }
          @media screen and (max-width: 850px) {
            margin-right: 9rem;
          }
        }
      }
    }
  }
  .smallFlag {
    position: absolute;
    right: 0;
    top: 0;
    height: 222px;
  }
  &.wide {
    div {
      max-width: unset;
    }
  }
  @media #{$not-phone} {
    &:not(.wide):not(.static) {
      @include sticky();
    }
    .menu .links {
      align-items: center;
    }
    .links > .contactDrape {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 0.9rem;
      font-weight: 500;
      background-color: $very-light-gray;
      padding: 6px 12px;
      border-radius: 0 0 4px 4px;
      margin-right: 0 !important;
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        span {
          text-decoration: underline;
        }
      }
      > div {
        display: flex;
        align-items: center;

        i {
          margin-right: 7px;
          text-decoration: none;
        }
      }
    }
  }
}
@import './responsive.module.scss';
